// Increment the build number whenever you modify the version string.
VERSION_STRING = 1
BUILD_NUMBER = 1

PROJECT_NAME = ExtAppKit
BUNDLE_IDENTIFIER_BASE = de.meandmymac.$(PROJECT_NAME)

IPHONEOS_DEPLOYMENT_TARGET = 9.3
MACOSX_DEPLOYMENT_TARGET = 10.12
WATCHOS_DEPLOYMENT_TARGET = 3.0
TVOS_DEPLOYMENT_TARGET = 9.3

APPLICATION_EXTENSION_API_ONLY = YES
