# Reactive Swift
github "ReactiveX/RxSwift" ~> 3.0

# Swinject, Dependency Injection Framework
github "Swinject/Swinject" ~> 2.0.0

# Mastodon.swift
github "Swiftodon/Mastodon.swift" ~> 1.2.0

# Locksmith (Keychain Wrapper) to store passwords in Keychain
github "matthewpalmer/Locksmith"

# Image Processing
github "gavinbunney/Toucan" ~> 0.6.0

# Popver View
github "corin8823/Popover"

# Eureka Form Builder for iOS
github "xmartlabs/Eureka" ~> 3.0
